@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@100;200;300;400;500;700;900&family=Fjalla+One&display=swap');

.textoBlanco1 {
    text-decoration: none;
    color: rgb(218, 248, 201);
    font-size: 1rem;
}

.texto300 {
    font-family: 'Alexandria', sans-serif;
    font-weight: 300;
}

.texto500 {
    font-family: 'Alexandria', sans-serif;
    font-weight: 500;
}

.texto700 {
    font-family: 'Alexandria', sans-serif;
    font-weight: 700;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    background-color: rgb(4, 77, 34);

}

.contenedorLogoFrase {
    display: flex;
    width: 25%;
}

.contenedorLogo {
    display: flex;
    justify-content: right;
    align-items: center;
    width: 30%;
}

.logo {
    width: 60%;
}

.logo img {
    width: 100%;
}

.contenedorFrase {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    width: 70%;
    color: rgb(218, 248, 201);

}

.frase {
    list-style-type: none;
    text-decoration: none;
    padding-left: 10px;
    font-size: 0.8rem;

}

nav {
    display: flex;
    justify-content: center;
    width: 50%;

}

.navegacion {
    list-style-type: none;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.navegacion li a {
    text-decoration: none;
    color: rgb(218, 248, 201);
    font-size: 1rem;
    font-family: 'Alexandria', sans-serif;
    font-weight: 500;
}


.botonHacerPedido {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
}

.botonHacerPedido a {


    font-family: 'Alexandria', sans-serif;
    font-weight: 500;
    text-decoration: none;
    border-radius: 10px;
    color: rgb(4, 77, 34);
    background-color: rgb(218, 248, 201);
    padding: 3px;
}

.mainSection {
    display: flex;
    flex-direction: column;

}

.mainIndex {
    display: flex;
    flex-direction: row;
    background-image: url(../assets/img/brotesCrecen.jpg);
    background-repeat: no-repeat;
    height: 85vh;
    background-size: cover;
    background-position: 0px ;
    padding: 3%;
    padding-top: 50px;
    border-style: solid;
    border-width: 3px;
    border-color: rgb(4, 77, 34)

}

.mainLeft {
    display: flex;
    flex-direction: column;
    width: 40%;
    justify-content: center;
    align-items: center;
}

.mainRight {
    display: flex;
    flex-direction: row;
    width: 60%;
    justify-content: center;
    align-items: center;
}



.proximosEnvios {
    font-family: 'Alexandria', sans-serif;
    text-decoration: none;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(4, 77, 34);
    color: rgb(4, 77, 34);
    background-color: rgb(232, 255, 235);
    padding: 50px;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 20px;
    width: 90%;
}

.botonHacerPedidoMain {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.botonHacerPedidoMain a {


    font-family: 'Alexandria', sans-serif;
    font-weight: 700;
    text-decoration: none;
    border-radius: 10px;
    color: rgb(218, 248, 201);
    background-color: rgb(4, 77, 34);
    border-color: rgb(218, 248, 201);
    border-width: 2px;
    border-style: solid;
    padding: 10px;
}

.bolsones {
    font-family: 'Alexandria', sans-serif;
    text-decoration: none;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(4, 77, 34);
    color: rgb(4, 77, 34);
    background-color: rgb(232, 255, 235);
    align-items: center;
    justify-content: center;
    padding: 10px;
    padding-bottom: 10px;
    margin: 10px;
    width: 250px;
    height: 320px;
    text-align: start;
}

.section {
    display: flex;
    flex-direction: row;
    background-image: url(../assets/img/pattern.jpg);
    padding: 3%;
    padding-top: 80px;
    padding-bottom: 80px;
    border-top: 3px;
    border-style: solid;
    border-color: rgb(4, 77, 34);
    justify-content: space-evenly;

}

.infoSection {
    display: flex;
    font-family: 'Alexandria', sans-serif;
    text-decoration: none;
    border-radius: 10px;
    color: rgb(4, 77, 34);
    background-color: rgb(232, 255, 235);
    padding: 25px;
    justify-content: start;
    margin-left: 5px;
    width: 25%;
    height: 25vh;
    text-align: start;
    overflow: auto;
}

.footerBootstrap {


    background-color: rgb(4, 77, 34);
    width: 100%;

}

footer {

    display: flex;
    flex-direction: column;

    background-color: rgb(4, 77, 34);

}

.footerSuperior {
    display: flex;
    padding-top: 2%;

}

.contenedorLogoFraseFooter {
    display: flex;
    justify-content: end;
    width: 60%;
}

.contenedorLogoFooter {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
}

.logoFooter {
    width: 60%;
}

.logoFooterBootstrap {
    width: 100px;
    justify-content: end;
    align-items: flex-end;
}

.logoBootstrap {
    width: 100px;
}

.logoFooter img {
    width: 100%;
}

.contenedorFraseFooter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    width: 70%;
    color: rgb(218, 248, 201);

}

.fraseFooter {
    list-style-type: none;
    text-decoration: none;
    font-size: 0.8rem;

}

.fraseFooterBootstrap {
    color: rgb(218, 248, 201);
    list-style-type: none;
    text-decoration: none;
    font-size: 0.8rem;

}

.espacioFooter {
    width: 10%;
}

.redesSociales {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 30%;
}

.redesSociales a {
    text-decoration: none;
    color: rgb(218, 248, 201);
    display: flex;
    padding: 5px;

}

.redesSocialesBootstrap a {
    text-decoration: none;
    color: rgb(218, 248, 201);
    padding: 5px;

}

.footerInferior {
    display: flex;
    flex-direction: row;
    padding-left: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-right: 5%;
    width: 80%;
    height: 40%;
    border: solid 1px rgb(218, 248, 201);
    margin-left: 10%;
    margin-top: 3%;
    margin-bottom: 3%;


}

.footerInferiorBootstrap {

    padding-left: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-right: 5%;
    width: 80%;
    height: 40%;
    border: solid 1px rgb(218, 248, 201);
    margin-left: 10%;
    margin-top: 3%;
    margin-bottom: 3%;


}

.footerTitle {
    color: rgb(218, 248, 201);
    display: flex;
    width: 40%;
    text-align: center;
}

.footerTitleBootstrap {
    color: rgb(218, 248, 201);
}

.formFooterInput {
    color: rgb(218, 248, 201);
    display: flex;
    width: 40%;
    justify-content: end;
    font-size: 0.8rem;

}

.formFooterInputBootstrap {
    color: rgb(218, 248, 201);
    font-size: 0.8rem;

}

.footerButtom {
    display: flex;
    width: 20%;
    justify-content: center;
}

.footerButtom a {
    font-family: 'Alexandria', sans-serif;
    font-weight: 500;
    text-decoration: none;
    border-radius: 10px;
    color: rgb(4, 77, 34);
    background-color: rgb(218, 248, 201);
    padding: 3px;
}

.portadaBgdondeEstamos {
    background-image: url(../assets/img/cultivo-maiz.jpg);
    background-repeat: no-repeat;
    background-position: center 50%;
    height: 85vh;
    text-align: center;
    padding: 200px;
    border-style: solid;
    border-width: 3px;
    border-color: rgb(4, 77, 34);
    background-size: cover;
}


.dondeEstamosMenu {
    display: flex;
    flex-direction: row;

}

.nuestrosProductores {

    background-image: url(../assets/img/invernadero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 100px;
    border-style: solid;
    border-width: 3px;
    border-color: rgb(4, 77, 34);
    color: rgb(218, 248, 201);
    text-shadow: 1px 1px 6px black;
    border-radius: 1%;
}

.nuestroPuntoDeEntrega {

    background-image: url(../assets/img/nena\ y\ verduras.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 100px;
    border-style: solid;
    border-width: 3px;
    border-color: rgb(4, 77, 34);
    color: rgb(218, 248, 201);
    text-shadow: 1px 1px 6px black;
    border-radius: 1%;
}

.mapa {
    display: flex;
    background-image: url(../assets/img/pattern.jpg);
    justify-content: center;
    width: 100%;
    border-style: solid;
    border-width:3px;
    border-color: rgb(4, 77, 34);
    color: rgb(1, 27, 12);

}

.galeria {
    background-color: rgb(4, 77, 34);
    padding: 2px;
    justify-content: center;
    padding: 1px;

}

.galeria img{
    width: 100%;
    opacity: 0.7;
    border-style: solid;
    border-width: 3px;
    border-color: rgb(4, 77, 34)
}

.galeria img:hover {
    opacity: 1;
}

.porQueOrganik {
    display: flex;
    flex-direction: column;
    background-image: url(../assets/img/pattern.jpg);
    color: rgb(218, 248, 201);
    text-shadow: 1px 1px 6px black;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}
.portadaPorQue{
    background-image: url(../assets/img/variedades2.jpg);
    background-repeat: no-repeat;
    background-position: center 50%;
    height: 85vh;
    text-align: center;
    padding: 200px;
    border-style: solid;
    border-color: rgb(4, 77, 34);
    background-size: cover;
}

.explicacionUno {
    background-image: url(../assets/img/moras.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 80%;
    height: 30%;
    text-align: center;  
    margin-top: 30px;
    margin-bottom: 30px;
    border-color: rgb(4, 77, 34);
    border-style: solid;
}

.explicacionUno h3 {

    padding: 20px;
}

.explicacionUno h1 {
    padding-bottom: 20px;
}

.explicacionUno p {
    padding-inline: 20px;
    padding-bottom: 20px;
    width: 100%;
}

.explicacionDos {
    background-image: url(../assets/img/riego.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 80%;
    height: 30%;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    border-color: rgb(4, 77, 34);
    border-style: solid;
}

.explicacionDos h3 {

    padding: 20px;
}

.explicacionDos h1 {
    padding-bottom: 20px;
}

.explicacionDos p {
    padding-inline: 20px;
    padding-bottom: 20px;
    width: 100%;
    
}

.explicacionTres {
    background-image: url(../assets/img/peras.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 80%;
    height: 30%;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    border-color: rgb(4, 77, 34);
    border-style: solid;
}

.explicacionTres h3 {

    padding: 20px;
}

.explicacionTres h1 {
    padding-bottom: 20px;
}

.explicacionTres p {
    padding-inline: 20px;
    padding-bottom: 20px;
    width: 100%;
}

.explicacionCuatro {
    background-image: url(../assets/img/campo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 80%;
    height: 30%;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    border-color: rgb(4, 77, 34);
    border-style: solid;
}

.explicacionCuatro h3 {

    padding: 20px;
}

.explicacionCuatro h1 {
    padding-bottom: 20px;
}

.explicacionCuatro p {
    padding-bottom: 20px;
}

.espacioNavPortada{
    height: 126px;
}

.portadaContacto {
    display: flex;
    flex-direction: column;

}

.contacto {

    background-image: url(../assets/img/tomates.jpg);
    background-repeat: no-repeat;
    background-position: center 50%;
    height: 85vh;
    text-align: center;    
    border-style: solid;
    border-color: rgb(4, 77, 34);
    background-size: cover;
    color: rgb(218, 248, 201);
    text-shadow: 1px 1px 6px black;
    padding-block: 30vh;

}


.contacto h3 {
    padding: 20px;
}


.infoContacto {
    display: flex;
    flex-direction: column;
    background-image: url(../assets/img/pattern.jpg);
    text-align: center;
    padding-block: 5%;
    padding-inline: 10%;
    border-style: solid;
    border-color: rgb(4, 77, 34);
    color: rgb(1, 27, 12);
    text-shadow: 1px 1px 6px rgb(218, 248, 201);
}

.infoContacto h2{
    text-align: center;
}

.datosContacto {
    display: flex;
    flex-direction: row;


}

@media (max-width: 576px){
    .datosContacto{
        flex-direction: column;
    }

    .datosContacto div{
        width: 100%;
    }

    .mainIndex {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        }

    .section{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .infoSection{
        width: 90%;
        margin: 5px;
    }
    .mainLeft{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .mainRight{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

  
}

.datosContactoLeft {

    display: flex;
    background-image: url(../assets/img/peras.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: start;
    align-items: center;
    border-style: solid;
    border-color: rgb(4, 77, 34);
    padding: 5%;
    padding-inline: 10%;
    width: 50%;
    color: rgb(218, 248, 201);
    text-shadow: 1px 1px 6px black;
    overflow: auto;
    text-align: start;
}

.datosContactoRight {
    display: flex;
    flex-direction: column;
    background-image: url(../assets/img/moras.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-color: rgb(4, 77, 34);
    width: 50%;
    color: rgb(218, 248, 201);
    text-shadow: 1px 1px 6px black;
    padding: 5%;
    padding-left: 9%;

}

.form {
    max-width: 500px;
    width: 100%;
    margin: 10px auto;
}


.formTitle {
    font-size: 2rem;
    margin-bottom: 5px;
    width: 100%;
    text-shadow: 1px 1px 6px black
}



.fieldset {
    width: 100%;
}

.fieldset .inputText {

    display: flex;
    margin-bottom: 5px;
    font-size: 1.5rem;
}

.fieldset .inputText label {
    width: 300px;
    margin-right: 10%;
    text-shadow: 1px 1px 6px black
}

.fieldset .inputText input {
    width: 80%;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(4, 77, 34);
}


.btnEnviar {
    width: 100%;
    background: rgb(218, 248, 201);
    border-style: solid;
    border-width: 1px;
    border-color: rgb(4, 77, 34);
    border-radius: 3px;
    color: rgb(4, 77, 34);
    text-shadow: 1px 1px 6px rgb(218, 248, 201);
    margin: auto auto;
    cursor: pointer;
    padding-bottom: 7%;


}

.btnEnviar:hover {
    background-color: rgb(4, 77, 34);
    color: rgb(218, 248, 201);
    text-shadow: 1px 1px 6px black
}

.wapp {
    display: flex;
    flex-direction: row;
    padding: 10px;
    justify-content: start;
    align-items: center;
}

.wapp a {
    color: rgb(218, 248, 201);
    justify-content: start;
}

.wapp h2 {
    justify-content: center;
    align-items: center;
    padding-left: 5px;

}

.mail {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 10px;
    justify-content: start;
    align-items: center;
}

.mail a {
    color: rgb(218, 248, 201);
    text-decoration: none;
    justify-content: start;
}

.mail h2 {
    justify-content: center;
    align-items: center;
    padding-left: 5px;

}


.portada {
    display: flex;
    flex-direction: column;
}

.bgPagina {
    display: flex;
    flex-direction: column;
    background-color: rgb(4, 77, 34);

}

.portadaBgPreguntas {
    background-image: url(../assets/img/nena\ y\ verduras.jpg);
    background-repeat: no-repeat;
    background-position: center 50%;
    height: 85vh;
    text-align: center;
    border-style: solid;
    border-color: rgb(4, 77, 34);
    background-size: cover;
    text-shadow: 1px 1px 6px black;
}

.textoPortada {
    display: flex;
    flex-direction: column;
    width: 98%;
    margin: auto;
    justify-content: center;
    text-align: center;
    padding: 100px;
    color: rgb(218, 248, 201);
    text-shadow: 1px 1px 6px black;
}

.preguntasFrecuentes h3 {
    padding: 20px;
}

.preguntas {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    background-image: url(../assets/img/pattern.jpg);
    text-align: center;
    padding: 50px;
    border-style: solid;
    border-color: rgb(4, 77, 34);
    border-radius: 2%;
    color: rgb(1, 27, 12);
    text-shadow: 1px 1px 6px rgb(218, 248, 201);
}

.avisoHacerPedido {

    background-image: url(../assets/img/nena\ y\ verduras.jpg);
    background-repeat: no-repeat;
    background-position: center 50%;
    height: 85vh;
    text-align: center;
    padding: 200px;
    border-style: solid;
    border-color: rgb(4, 77, 34);
    background-size: cover;
    text-shadow: 1px 1px 6px rgb(218, 248, 201);
}

.avisoHacerPedido h1 {
    padding-top: 80px;
}

.navbar {
    background-color: rgb(4, 77, 34);
}

input {
    width: 150px;
    height: 30px;
    transition: all 1s;
}


input:focus {
    width: 200px;
    font-size: 30px;
}

.topHeight {
    height: 11vh;
    background-color: rgb(4, 77, 34);
    ;
}