.espacioNavPortada {
    height: 126px;
}
header {
    width: 100%;
    background-color: rgb(4, 77, 34);

}

.navbar {
    background-color: rgb(4, 77, 34);
}

.contenedorLogoFrase {
    display: flex;
    width: 25%;

    .contenedorLogo {
        display: flex;
        justify-content: right;
        align-items: center;
        width: 30%;

        .logo {
            width: 60%;

            img {
                width: 100%;
            }
        }
    }
    .contenedorFrase {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: left;
        width: 70%;
        color: rgb(218, 248, 201);

        .frase {
            list-style-type: none;
            text-decoration: none;
            padding-left: 10px;
            font-size: 0.8rem;

        }

    }
    
}

nav {
    display: flex;
    justify-content: center;
    width: 50%;
    li a {
        text-decoration: none;
        color: rgb(218, 248, 201);
        font-size: 1rem;
        font-family: 'Alexandria', sans-serif;
        font-weight: 500;
    }
    .botonHacerPedido {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 25%;
    
        a {
    
    
            font-family: 'Alexandria', sans-serif;
            font-weight: 500;
            text-decoration: none;
            border-radius: 10px;
            color: rgb(4, 77, 34);
            background-color: rgb(218, 248, 201);
            padding: 3px;
        }
    }

}







