.section {
    display: flex;
    flex-direction: row;
    background-image: url(../assets/img/pattern.jpg);
    padding: 3%;
    padding-top: 80px;
    padding-bottom: 80px;
    border-top: 3px;
    border-style: solid;
    border-color: rgb(4, 77, 34);
    justify-content: space-evenly;
    .infoSection {
        display: flex;
        font-family: "Alexandria", sans-serif;
        text-decoration: none;
        border-radius: 10px;
        color: rgb(4, 77, 34);
        background-color: rgb(232, 255, 235);
        padding: 25px;
        justify-content: start;
        margin-left: 5px;
        width: 25%;
        height: 25vh;
        text-align: start;
        overflow: auto;
    }
}


.porQueOrganik {
    display: flex;
    flex-direction: column;
    background-image: url(../assets/img/pattern.jpg);
    color: rgb(218, 248, 201);
    text-shadow: 1px 1px 6px black;
    justify-content: center;
    align-items: center;
    padding-top: 30px;

    .explicacionUno{
        background-image: url(../assets/img/moras.jpg);
    }
    .explicacionDos {
        background-image: url(../assets/img/riego.jpg);
        }
    .explicacionTres {
        background-image: url(../assets/img/peras.jpg);
    }
    .explicacionCuatro {
        background-image: url(../assets/img/campo.jpg);
    }
    div {
        
        background-repeat: no-repeat;
        background-size: cover;
        width: 80%;
        height: 30%;
        text-align: center;
        margin-top: 30px;
        margin-bottom: 30px;
        border-color: rgb(4, 77, 34);
        border-style: solid;
        padding: 20px;
        div{
            h3 {
                padding: 20px;
            }
            h1 {
                padding-bottom: 20px;
            }
            p {
                padding-inline: 20px;
                padding-bottom: 20px;
                width: 100%;
            }
        }
    }
}

.dondeEstamos{
    .nuestrosProductores {
        background-image: url(../assets/img/invernadero.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;
        padding: 100px;
        border-style: solid;
        border-width: 3px;
        border-color: rgb(4, 77, 34);
        color: rgb(218, 248, 201);
        text-shadow: 1px 1px 6px black;
        border-radius: 1%;
    }

    .nuestroPuntoDeEntrega {
        background-image: url(../assets/img/nena\ y\ verduras.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;
        padding: 100px;
        border-style: solid;
        border-width: 3px;
        border-color: rgb(4, 77, 34);
        color: rgb(218, 248, 201);
        text-shadow: 1px 1px 6px black;
        border-radius: 1%;
    }

    .mapa {
        display: flex;
        background-image: url(../assets/img/pattern.jpg);
        justify-content: center;
        width: 100%;
        border-style: solid;
        border-width: 3px;
        border-color: rgb(4, 77, 34);
        color: rgb(1, 27, 12);
    }

    .galeria {
        background-color: rgb(4, 77, 34);
        padding: 2px;
        justify-content: center;
        padding: 1px;
        img {
            width: 100%;
            opacity: 0.7;
            border-style: solid;
            border-width: 3px;
            border-color: rgb(4, 77, 34);
        }
        img:hover {
            opacity: 1;
        }
    }
}

.preguntas {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    background-image: url(../assets/img/pattern.jpg);
    text-align: center;
    padding: 50px;
    border-style: solid;
    border-color: rgb(4, 77, 34);
    border-radius: 2%;
    color: rgb(1, 27, 12);
    text-shadow: 1px 1px 6px rgb(218, 248, 201);
}

.infoContacto {
    display: flex;
    flex-direction: column;
    background-image: url(../assets/img/pattern.jpg);
    text-align: center;
    padding-block: 5%;
    padding-inline: 10%;
    border-style: solid;
    border-color: rgb(4, 77, 34);
    color: rgb(1, 27, 12);
    text-shadow: 1px 1px 6px rgb(218, 248, 201);
    h2 {
        text-align: center;
    }
}



.datosContacto {
    display: flex;
    flex-direction: row;
    
    .datosContactoLeft {
        display: flex;
        background-image: url(../assets/img/peras.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        justify-content: start;
        align-items: center;
        border-style: solid;
        border-color: rgb(4, 77, 34);
        padding: 5%;
        padding-inline: 10%;
        width: 50%;
        color: rgb(218, 248, 201);
        text-shadow: 1px 1px 6px black;
        overflow: auto;
        text-align: start;
        .formL {
            max-width: 500px;
            width: 100%;
            margin: 10px auto;
            .wapp {
                display: flex;
                flex-direction: row;
                padding: 10px;
                justify-content: start;
                align-items: center;
                a {
                    color: rgb(218, 248, 201);
                    justify-content: start;
                }
                h2 {
                    justify-content: center;
                    align-items: center;
                    padding-left: 5px;
                }
            }
            
            
            .mail {
                display: flex;
                flex-direction: row;
                width: 100%;
                padding: 10px;
                justify-content: start;
                align-items: center;
                a {
                    color: rgb(218, 248, 201);
                    text-decoration: none;
                    justify-content: start;
                }
                h2 {
                    justify-content: center;
                    align-items: center;
                    padding-left: 5px;
                }
            } 
        }
    }
    .datosContactoRight {
        display: flex;
        flex-direction: column;
        background-image: url(../assets/img/moras.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        justify-content: center;
        align-items: center;
        border-style: solid;
        border-color: map-get($paletaColores, primario);
        width: 50%;
        color: map-get($paletaColores, secundario);
        text-shadow: 1px 1px 6px map-get($paletaColores, terciario);
        padding: 5%;
        padding-left: 9%;
        .formR {
            max-width: 500px;
            width: 100%;
            margin: 10px auto;
            .formTitle {
                font-size: 2rem;
                margin-bottom: 5px;
                width: 100%;
                text-shadow: 1px 1px 6px map-get($paletaColores, terciario);
            }
            
            .fieldset {
                width: 100%;
                .inputText {
                    display: flex;
                    margin-bottom: 5px;
                    font-size: 1.5rem;
                    label {
                        width: 300px;
                        margin-right: 10%;
                        text-shadow: 1px 1px 6px map-get($paletaColores, terciario);
                    }
                    input {
                        width: 80%;
                        border-style: solid;
                        border-width: 1px;
                        border-color: map-get($paletaColores, primario);
                    }
                    .btnEnviar {
                        width: 100%;
                        background: map-get($paletaColores, secundario);
                        border-style: solid;
                        border-width: 1px;
                        border-color: map-get($paletaColores, primario);
                        border-radius: 3px;
                        color: map-get($paletaColores, primario);
                        text-shadow: 1px 1px 6px map-get($paletaColores, secundario);
                        margin: auto auto;
                        cursor: pointer;
                        padding-bottom: 7%;
                    }
                    
                    .btnEnviar:hover {
                        background-color: map-get($paletaColores, primario);
                        color: map-get($paletaColores, secundario);
                        text-shadow: 1px 1px 6px map-get($paletaColores, terciario);
                    }
                }
            }
        }
    }
}













