@media (max-width: 576px) {

    //footer

    .footerTitleBootstrap {
        text-align: center;
    }
    
    .formFooterInputBootstrap {
        text-align: center;     
    }


    //pagina contactos
    .datosContacto {
        flex-direction: column;
        .datosContactoRight {
            width: 100%;
        }
        .datosContactoLeft {
            width: 100%;
        }
    }

    
    //index
    .mainIndex {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        .mainLeft {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
        }
    
        .mainRight {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
        }
    }

    .section {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        .infoSection{
            margin: 3px;
            width: 90%;
        }
        
    }



}