    //index

@media (max-width: 913px) {

    .mainIndex {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
    }


    }


@media (max-width: 576px) {

    //footer

    .footerTitleBootstrap {
        text-align: center;
    }
    
    .formFooterInputBootstrap {
        text-align: center;     
    }


    //pagina contactos
    .datosContacto {
        flex-direction: column;
        .datosContactoRight {
            width: 100%;
        }
        .datosContactoLeft {
            width: 100%;
        }
    }

    
    //index
    .mainIndex {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        padding: 0%;
        .mainLeft {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            padding: 0%;
        }
    
        .mainRight {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            margin-left: 3%;
            margin-right: 3%;
            padding: 0%;
        }
    }

    .section {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        .infoSection{
            margin: 3px;
            width: 90%;
        }
        
    }


    .textoPortada {
        width: auto;

    }

    //portada porqué organik
    .portadaPorQue {
        margin-left: 3%;
        margin-right: 3%;
        
    }

    //portada preguntas frecuentes
    .portadaBgPreguntas {       
        margin-left: 3%;
        margin-right: 3%;
    }

    //portada contaco
    .portadaContacto {
        margin-left: 3%;
        margin-right: 3%;
    }

    //portada dónde estamos
    .portadaBgdondeEstamos {
        margin-left: 3%;
        margin-right: 3%;
    }
    //portada hacer pedido
    .avisoHacerPedido {
        margin-left: 3%;
        margin-right: 3%;
    }


    }





