//reset
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

//bg base de todas las páginas
.bgPagina {
    display: flex;
    flex-direction: column;
    background-color: map-get($paletaColores, primario);
}