.textoBlanco1 {
    text-decoration: none;
    color: rgb(218, 248, 201);
    font-size: 1rem;
}

.texto300 {
    font-family: "Alexandria", sans-serif;
    font-weight: 300;
}

.texto500 {
    font-family: "Alexandria", sans-serif;
    font-weight: 500;
}

.texto700 {
    font-family: "Alexandria", sans-serif;
    font-weight: 700;
}